$main: #005e66;
$white: #fff;
$black: rgb(24, 24, 24);
$bg-night: rgb(36, 36, 36);
$card: #e6e7da;
$card-front: #85ad87;
$card-back: #cddd7e;
$card-text: #fff;
$warning: #d6593d;
$plus: #babeb1;
$cancel: #babeb1;
$shadow-night: rgb(70, 70, 70);

*:focus {
  outline: none;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: 'Montserrat';

  &.theme.dark {
    background: $bg-night;
  }
}

.navbar {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 0 3vw;
  margin: 0;

  background: $main;
  box-shadow: 0 0 10px 0 $black;

  &__logo {
    color: $white;
    font-size: 1.7rem;
  }

  &__button {
    height: 50px;
    width: 50px;
    background: 0;
    border: 0;
    cursor: pointer;
  }

  .btn-day,
  .btn-night {
    filter: invert(1);
  }
}

main {
  padding: 4rem 0 10rem 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.delete {
  position: fixed;
  right: 5vw;
  bottom: 2rem;
  z-index: 8;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: $main;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px 0 $black;
}
.delete > img {
  filter: invert(1);
  height: 50px;
}

.footer {
  height: 1rem;
  background: rgb(20, 20, 20);
  color: $white;

  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card {
  background: $card;

  color: $card-text;
  border-radius: 10px;
  width: 90%;
  height: 30vh;
  min-height: 100px;
  min-width: 200px;
  max-height: 170px;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2% 2%;
  font-size: 2em;

  box-shadow: 0 0 5px 0 $black;

  &__front {
    background: $card-front;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
  }
  &__back {
    background: $card-back;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
  }
  &.add {
    max-height: 230px;
    max-width: 350px;
  }

  &.theme.dark {
    box-shadow: 0 0 10px 0 $shadow-night;
  }
}

.plus {
  width: 7em;
  height: 7em;
  padding: auto;

  background: linear-gradient($white, $white), linear-gradient($white, $white),
    $plus;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.modal {
  background: $white;
  border-radius: 10px;
  height: 5vmin;
  width: 70vw;
  min-height: 550px;
  max-width: 500px;

  font-size: 1.5rem;
  box-shadow: 0 0 10px 0 $black;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transform: scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  padding: 3% 7%;

  &.theme.dark {
    background: #272a2b;
    color: $white;
  }

  &.active {
    transform: scale(1);
  }

  &-title {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    height: 75%;
  }

  &__text {
    text-align: center;
  }

  &-input {
    height: 2rem;
    width: 70%;
    min-width: 14rem;
    margin-top: 15px;
    font-size: 1.2rem;
    padding: 0 3%;

    border-radius: 5px;
  }
  &.theme.dark {
    box-shadow: 0 0 10px 0 $shadow-night;
  }
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9;
  }
}

.form-element {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 30vmin;
  min-width: 300px;
  max-width: 500px;
}

.form-action {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}

.action-btn {
  height: 2.7rem;
  width: 40%;
  min-width: 5rem;
  font-size: 1.1rem;

  border-radius: 50px;
  border: 0;

  background: $main;
  color: $white;
  cursor: pointer;

  &.warning {
    background: $warning;
  }

  &.cancel {
    background: $cancel;
  }
}

.hidden {
  display: none;
}

.visibe {
  display: block;
}
